body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(45, 45, 45);
    color: rgb(225, 225, 225)
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#navBar a {
    color: rgb(225, 225, 225);
    margin: 1em;
    font-size: large;
}

.current-link {
    text-decoration: underline;
}

#download-table {
    margin: auto;
    margin-top: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:link {
    color: rgb(155, 215, 250);
}

a:visited {
    color: rgb(185, 125, 180);
}

code {
    white-space: nowrap;
}

main {
    line-height: 1.5em;
    margin: auto
}

main h4, h5, h3 {
    text-align: center;
}

main p, ul {
    margin: 1em auto;
    max-width: 45em;
}

#welcome-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#persuasion-list {
    margin-left: 2em;
}

#persuasion-list li {
    margin-bottom: 0.5em;
}

#code-textarea {
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    resize: none;
    border: none;
    color: inherit;
    padding: 1ch;
    flex-grow: 1;
    border-radius: 10px;
    outline: none;
}

#result-div {
    border-top: thin solid gray;
    padding: 1ch;
    font-family: inherit;
    font-size: inherit;
    text-align: left;
}

#code-box {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 13px;
    background-color: rgb(35, 35, 35);
    width: 60ch;
    height: 50ch;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-right: 2em;
}
