html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(28, 30, 38);
}

#code-textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: inherit;
    color: inherit;
    resize: none;
    border: none;
    padding: 1ch;
    flex-grow: 1;
}

#code-result-divider {
    border-top: 1px solid rgb(125, 125, 125);
}

#result-div {
    padding: 1ch;
}

#code-box {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 13px;
    color: rgb(200, 200, 200);
    font-weight: 500;
    width: 60ch;
    height: 60ch;
    border-style: solid;
    border-width: thin;
    display: flex;
    flex-direction: column;
    border-color: rgb(125, 125, 125);
}