* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header a {
    color: black;
    text-decoration: none;
    margin: 1em;
    font-size: large;
}

header .current-link {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: center
}

main {
    line-height: 1.5em;
    margin: auto
}

#doc-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main h4, h5 {
    text-align: center;
}

main p, ul {
    margin: 1em auto;
    max-width: 45em;
}

#welcome-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#doc-main-content {
    flex-grow: 1;
}

#doc-nav-sidebar {
    width: 15em;
}

#doc-nav-sidebar p {
    text-align: center;
}

#doc-nav-sidebar a, ol {
    text-decoration: none;
    list-style: inside;
}

#doc-dummy {
    width: 15em;
}

#code-textarea {
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    resize: none;
    border: none;
    padding: 1ch;
    flex-grow: 1;
    border-radius: 10px;
    outline: none;
}

#result-div {
    border-top: thin solid black;
    padding: 1ch;
    font-family: inherit;
    font-size: inherit;
    text-align: left;
}

#code-box {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 13px;
    background-color: rgb(240, 240, 240);
    width: 60ch;
    height: 50ch;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
